{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static "surveyor/main.css" %}" />
{% endblock stylesheets %}

{% block javascript %}
<script src="{% static "surveyor/main.js" %}"></script>

{% endblock javascript %}

{% block content %}

{% if expired %}
    <p>Sorry, this question has expired</p>
{% else %}
    <p>{{ object.text }}</p>
    {% for tag in object.tags %}
        <p>{{ tag.name }}</p>
    {% endfor %}

    <!-- copied and pasted from the Django docs for now -->
    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Send message" />
    </form>
    
{% endif %}

<a href="{% url 'new_question_url' %}">Ask a new question?</a>

<!-- not the best place for this but putting here at the moment -->

<script>
    document.getElementById("id_question_id").value = "{{ object.id }}";
</script>
{% endblock %}
